<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Первый сайт</title>
  </head>
  <body>
    <div>
      <h1><a href="#">Django сайт</a></h1>
    </div>

    <div>
      <p>Опубликовано: 14.06.2014, 12:14</p>
      <h2><a href="#">Мой первый пост</a></h2>
      <p>Я не знаю, что написать, поэтому напишу вот это.</p>
    </div>

    <div>
      <p>Опубликовано: 14.06.2014, 12:14</p>
      <h2><a href="#">My second post</a></h2>
      <p>Я не знаю, что написать, поэтому напишу вот это.</p>
    </div>
  </body>
</html>
